<div class="bg-gray-900 min-h-screen">
  <!-- <app-modal></app-modal> -->
  <div class="mx-auto max-w-7xl">
    <div class="bg-gray-900 py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="font-semibold leading-6 text-white text-3xl">
              Lista de Videojuegos
            </h1>
            <p class="mt-5 text-sm text-gray-300">
              Se muestran la lista de todos los videojuegos dados de alta
            </p>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button
              type="button"
              class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >
              Nuevo Videojuego
            </button>
          </div>
        </div>
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
              <table class="min-w-full divide-y divide-gray-700">
                @if (listaVideojuegos.length > 0) {
                <thead class="px-3">
                  <tr>
                    <th
                      scope="col"
                      class="py-3.5 px-3 text-center text-sm font-semibold text-white sm:pl-0 select-none"
                    >
                      Clave
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-center text-sm font-semibold text-white select-none"
                    >
                      Titulo
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-center text-sm font-semibold text-white select-none"
                    >
                      Precio
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-center text-sm font-semibold text-white select-none"
                    >
                      Proveedor
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-center text-sm font-semibold text-white select-none"
                    >
                      Inventarios
                    </th>
                    <th scope="col" class="relative py-3.5 pr-4 sm:pr-0">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                }

                <tbody class="divide-y divide-gray-800">
                  @for (vid of listaVideojuegos; track vid.cve_vid) {
                  <tr>
                    <td
                      class="select-none py-4 px-3 text-sm font-medium text-white text-center"
                    >
                      {{ vid.cve_vid }}
                    </td>
                    <td
                      class="select-none px-3 py-4 text-sm text-white text-center"
                    >
                      {{ vid.tit_vid }}
                    </td>
                    <td
                      class="select-none px-3 py-4 text-sm text-white text-center"
                    >
                      ${{ vid.pre_vid }}
                      <!-- !CHECAR -->
                      <!-- {{
                        vid.pre_vid
                          | currency : "MXN" : "symbol-narrow" : "1.2-2"
                      }} -->
                    </td>
                    <td
                      class="select-none px-3 py-4 text-sm text-white text-center"
                    >
                      {{ vid.proveedor.nom_prov }}
                    </td>
                    <td
                      class="select-none px-3 py-4 text-sm text-white text-center"
                    >
                      {{ vid.inv_vid }}
                    </td>
                    <td class="py-4 px-3 text-sm font-medium text-center flex">
                      <p
                        class="text-indigo-400 hover:text-indigo-300 select-none cursor-pointer text-center"
                        (click)="editarvideojuego(vid.cve_vid)"
                      >
                        Editar
                      </p>
                    </td>
                  </tr>
                  } @empty {
                  <p class="text-gray-300">No hay videojuegos para mostrar</p>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
