<div
  class="w-screen min-h-screen justify-center items-center flex flex-col bg-gray-900"
>
  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg py-10">
    <form action="" class="flex flex-col w-full gap-y-4">
      <div class="flex flex-col gap-y-2">
        <p>Usuario</p>
        <input type="text" class="w-full ring-1 ring-blue-600" />
      </div>
      <div class="flex flex-col gap-y-2">
        <p>Contraseña</p>
        <input type="text" />
      </div>
      <div></div>
    </form>
  </div>
</div>
